.photo-button {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

.photo-icon {
  border-radius: 50%; /* Faz a borda do coração arredondada */
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out; /* Adiciona uma transição suave */
  color: #b42827 !important;
  width: 100px;
  height: 100px;
}

.photo-icon:hover {
  transform: scale(1.2); /* Aumenta o tamanho do coração em 20% */
  border-radius: 30%; /* Reduz a borda arredondada para criar um efeito de "inchaço" */
  filter: drop-shadow(
    0 0 30px rgba(255, 105, 180, 0.7)
  ); /* Aumenta a sombra para criar um efeito de "profundidade" */
}
